h3 {
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 22px;
}

.list-section {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.section-subheader {
    font-size: 18px;
    font-weight: bold;
}