.order-form {
    margin: 0 auto;
    width: 50%;
    min-width: 400px;
    text-align: left;
    padding-bottom: 25px;
}

table {
    width: auto;
    margin: 0 auto;
    text-align: left;
}

table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 10px;
    font-weight: 300;
    font-style: oblique;
}

.top-padding {
    padding-top: 20px;
}

.top-margin {
    margin-top: 20px;
}

.error {
    color: #ff0000;
}

 .success {
     color: green;
 }