#nav {
    width: 100%;
    height: 200px;
}

#logo {
    background-image: url("../../../assets/images/logo.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 150px;
    margin: 25px;
    height: 80px;
    float: left;
}

#anne-picture {
    background-image: url("../../../assets/images/anne-picture.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 65px;
    height: 80px;
    float: left;
}

#anne-logo {
    background-image: url("../../../assets/images/anne-logo.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 190px;
    height: 80px;
    float: right;
}

#contact-info-container {
    margin: 25px;
    height: 120px;
    float: right;
}

#contact-info-box {
    width: auto;
    display: block;
}

.info {
    opacity: 0.6;
    display: inline-block;
    padding: 10px;
}

.info a,span {
    color: #191e3f;
    text-decoration: none;
    cursor: pointer;
}

.info:hover {
    opacity: 1.0;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #191e3f;
    opacity: 0.6;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

@media screen and (max-width: 550px) {
    #logo {
        width: 100px;
    }
    
    #anne-logo {
        width: 110px;
    }
}