<div id="nav">
  <a href="" alt="logo"><div id="logo"></div></a>
  <div id="contact-info-box">
      <div id="anne-picture"></div>  
      <div id="anne-logo"></div>
      <span class="contact-info">Tel: <a class="telephone" href="tel:{{global.getGeneralSettings.phoneNumber}}"></a></span>
      <span class="contact-info">Email: <a class="email" href="mailTo:{{global.getGeneralSettings.email}}"></a></span>
      <span class="contact-info">Claims: <span class="claims" (click)="navigateToClaims()"></span></span>
  </div>
</div>