#nav {
    width: 100%;
    height: 200px;
}

#logo {
    background-image: url("../../../assets/images/logo.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 150px;
    height: 80px;
    margin: 25px;
    float: left;
}

#contact-info-box {
    width: 255px;
    height: 120px;
    margin: 25px;
    float: right;
}

.contact-info {
    font-size: 16px; 
    font-weight: bold;
    color: #000;
    padding-bottom: 25px;
}

.contact-info a {
    color: #000;
}

#anne-picture {
    background-image: url("../../../assets/images/anne-picture.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 65px;
    height: 80px;
    float: left;
}

#anne-logo {
    background-image: url("../../../assets/images/anne-logo.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 190px;
    height: 80px;
    float: right;
}

@media screen and (max-width: 550px) {
    
    #contact-info-box {
        width: 175px;
    }
    
    .contact-info {
        font-size: 10px;
    }
    
    #logo {
        width: 100px;
    }
    
    #anne-logo {
        width: 110px;
    }
    
    #contact-info {
        width: 175px;
    }
}