#nav {
    width: 100%;
    height: auto;
}

.nav-table-wrapper {
    width: 100%;
    height: auto;
}

.nav-table-wrapper td {
    width: 50%;
}

.nav-table {
    width: 100%;
    margin-bottom: 25px;
    background: #eb5e17;
}

.nav-table td {
    width: 50%;
}

.nav-table td ul{
    list-style: none;
    margin: 0;
    float: right;
    padding: 0 25px 0 0;
}

/* .nav-table td ul > li {
    display: inline-block;
    padding: 10px;
    line-height: 2em;
    color: #dae2ef;
}

.nav-table td ul > li:hover {
    color: #eb5e17;
    background: #dae2ef;
    cursor: pointer;
} */

.option {
    display: inline-block;
    padding: 10px;
    line-height: 2em;
    color: #dae2ef;
}

.option:hover {
    color: #eb5e17;
    background: #dae2ef;
    cursor: pointer;
}

.dropdown-open .dropdown-content {
    display: block;
}

.dropdown-open{
    color: #eb5e17;
    background: #dae2ef;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dae2ef;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: 10px 0 0 -10px;
    width: inherit;
    min-width: 90px;
  }

.dropdown-content a {
    color: #eb5e17;
    text-decoration: none !important;
}

.dropdown-content a:hover {
    color: #4894a4;
}

.dropdown-content li:hover {
    color: #4894a4;
}

.navigation-container {
    height: auto;
    width: 257px;
    float: right;
    margin: 25px 25px 0 0;
}

.navigation-container div {
    float: left;
}

#logo {
    background-image: url("../../../assets/images/logo.png");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 150px;
    margin: 25px 25px 0 25px;
    height: 80px;
    float: left;
}

#anne-picture {
    background-image: url("../../../assets/images/anne-picture.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 65px;
    height: 80px;
    float: left;
}

#anne-logo {
    background-image: url("../../../assets/images/anne-logo.jpg");
    background-repeat: no-repeat;
	background-size: 100% 100%;
    width: 190px;
    height: 80px;
    float: right;
}

.login {
    background-color: transparent;
    background-image: url("../../../assets/images/login-icon.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}

#contact-info-container {
    margin: 25px;
    height: 120px;
    float: right;
}

#contact-info-box {
    width: auto;
    display: block;
}

.info {
    opacity: 0.6;
    display: inline-block;
    padding: 0px;
    height: 40px;
}

.info a,span {
    color: #191e3f;
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
}

.info:hover {
    opacity: 1.0;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #191e3f;
    opacity: 0.6;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .user-wrapper {
    position: relative;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .user {
      font-weight: bold;
      text-align: left;
      width: 180px;
      position: absolute;
      right: 0;
      color: #eb5e17;
  }

@media screen and (max-width: 550px) {
    #logo {
        width: 100px;
    }
    
    #anne-logo {
        width: 133px;
    }

    .navigation-container {
        width: 200px;
        float: left;
    }

    .info a {
        padding: 8px;
    }

    .nav-table td ul{
        padding: 0 45px 0 0;
    }

    .nav-table td {
        width: auto;
    }
}