.settings-table {
    margin: 0 auto;
    text-align: left;
    padding-bottom: 25px;
    width: auto;
}

input,textarea,select {
    width: 100%;
}

.large {
    width: 500px;
}

.small {
    width: 250px;
}

th {
    text-align: left;
}

th,td {
    padding: 5px;
}

button {
    margin: 5px;
    width: 25%;
}

.top-padding {
    padding-top: 20px;
}

.bottom-padding {
    padding-bottom: 20px;
}

.top-margin {
    margin-top: 20px;
}

.settings-box {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.error {
  color: #ff0000;
}

.success {
   color: green;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: rgba(18, 151, 58, 1.0);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px rgba(18, 151, 58, 1.0);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media screen and (max-width: 800px) {
    
    .large {
        width: 150px;
    }

    .small {
        width: 150px;
    }
}