table {
    width: auto;
    margin: 0 auto;
    text-align: left;
}

table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 10px;
    font-weight: 300;
    font-style: oblique;
}

div {
    display: block;
    padding-bottom: 20px;
}

.password-reset {
    cursor: pointer;
}

.password-reset:hover {
    color: #eb5e17;
}

.success {
    color: green;
}

h2 {
    color: #eb5e17;
    text-align: center;

}

small {
    font-size: 12px;
    cursor: pointer;
}

small:hover {
    color: #ccc;
}

.card {
    width: auto;
    max-width: 500px;
    height: 250px;
    margin-bottom: 20px;
    padding: 0px;
}

@media screen and (max-width: 1150px) {
    .card {
        width: 95%;
    }
}