table {
    width: auto;
    margin: 0 auto;
    text-align: left;
}

table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 10px;
    font-weight: 300;
    font-style: oblique;
}

div {
    display: block;
    padding-bottom: 20px;
}

.password-reset {
    cursor: pointer;
}

.password-reset:hover {
    color: #eb5e17;
}

.success {
    color: green;
}