<div>
    <table>
        <tbody>
            <tr>
            <td>Email/Username:</td>
            <td>
                <input type="text" class="large" id="username" (keydown)="checkKey($event)" />
                <span *ngIf="global.loginStatus == 'BAD_USER'" class="required small-text" ><br /> Email/Username not found!</span>
            </td>
            </tr>
            <tr>
            <td>Password:</td>
            <td>
                <input type="password" class="large" id="password" (keydown)="checkKey($event)" />
                <span *ngIf="global.loginStatus == 'BAD_PASS'" class="required small-text" ><br /> Invalid Password!</span>
            </td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="passwordResetSent" class="centered-block small-text success">Password Successfully Reset - Check Email</p>
    <div class="centered-block top-padding"><button class="button" (click)="tryLogin()">SUBMIT</button></div>
    <div class="centered-block top-padding"><span class="password-reset" (click)="passwordReset()">Forgot Password?</span></div>
</div>