.left-nav {
    float: left;
    height: 100%;
    width: 20%;
    background: #dae2ef;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    perspective: 1000px;
}

.tab {
    display: block;
    cursor: pointer;
    padding: 25px;
    border-radius: 0 0 5px 0;
}

tab:hover {
    color: #eb5e17;
}