.left-nav {
    float: left;
    min-height: 500px;
    height: 100%;
    width: 20%;
    background: #dae2ef;
}

.tab {
    display: block;
    cursor: pointer;
    padding: 25px;
    border-radius: 0 5px 5px 0;
}

tab:hover {
    color: #eb5e17;
}