table {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 10px;
    font-weight: 300;
    font-style: oblique;
}

.top-padding {
    padding-top: 20px;
}

.top-margin {
    margin-top: 20px;
}

.table tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.25);
}
.table tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}
.table th {
    background-color: rgba(0, 0, 0, 0.5);
}

button {
    margin: 5px;
    width: 25%;
}

@media (max-width: 800px) {
    table {
        text-align: left;
    }
    
    .table tr {
        display: block;
        padding: 0.7em 2vw;
    }

    .table td {
        display: block;
    }

    .table thead {
        display: none;
    }

    .table td:before {
        content: attr(data-th) ": ";
        font-weight: bold;
    }
}