<div class="filter-box">
  <div class="header">Orders &#9776;</div>

  <div class="sort">
    <span>Sort</span>
    <select id="sort" (change)="filter()">
      <option value="ASC">Oldest to Newest</option>
      <option value="DESC">Newest to Oldest</option>
    </select>
  </div>
  <span id="filter-dropdown" (click)="toggleFilters()">Filters</span>
  <div *ngIf="showFilters" class="filters">
    <div class="filter">
      <span>Timeline</span>
      <select id="timeline" (change)="filter()">
        <option value="all">All Orders</option>
        <option value="last-1-days">Today</option>
        <option value="last-7-days">Last 7 Days</option>
        <option value="last-30-days">Last 30 Days</option>
        <option value="last-60-days">Last 60 Days</option>
        <option value="last-90-days">Last 90 Days</option>
      </select>
    </div>

    <div class="filter">
      <span>Plan</span>
      <select id="plan" (change)="filter()">
        <option value="all">All Plans</option>
        <option value="Gold">Gold</option>
        <option value="Platinum">Platinum</option>
        <option value="Diamond">Diamond</option>
        <option value="Free Sellers Coverage">Free Sellers Coverage</option>
      </select>
    </div>

    <div class="filter">
      <span>HomeType</span>
      <select id="home-type" (change)="filter()">
        <option value="all">All Homes</option>
        <option value="Single Family Home">Single Family Home</option>
        <option value="Townhome/Condo">Townhome/Condo</option>
      </select>
    </div>

    <div class="filter">
      <span>Entered</span>
      <select id="entered" (change)="filter()">
        <option value="all">All Orders</option>
        <option value="entered">Entered</option>
        <option value="not-entered">Not Entered</option>
      </select>
    </div>

    <div class="filter">
      <span>Years</span>
      <select id="years" (change)="filter()">
        <option value="all">All Years</option>
        <option value="13 Months">13 Months</option>
        <option value="2 Years">2 Years</option>
        <option value="3 Years">3 Years</option>
      </select>
    </div>

    <div class="filter">
      <span>Realtor</span>
      <select id="realtor" (change)="filter()">
        <option value="all">All Realtors</option>
        <option *ngFor="let realtor of admin.realtors" value="{{realtor}}">{{realtor}}</option>
      </select>
    </div>
  
    <div class="filename">
      <span>Filename</span>
      <input type="text" id="filename" value="{{filename}}" (keydown)="updateFilename($event)" (paste)="updateFilename($event)"/><p>.{{extension}}</p>
    </div>

  </div>

</div>
<div *ngIf="!admin.orders || admin.orders.length == 0" class="centered-block top-margin">
  <p>No orders placed yet.</p>
</div>
<div *ngIf="admin.orders && admin.orders.length > 0"> 
  <p class="top-margin">Results: {{admin.orders.length}} ({{enteredOrders.length}} entered)</p>
  <table class="table" #TABLE>  
    <thead>  
      <tr>  
        <th>Name</th>  
        <th>Email</th>  
        <th>Plan</th>
        <th>Years</th>
        <th>Optional Coverage</th>
        <th>Hvac Coverage</th>
        <th>Close/Start Date</th>
        <th>Home Type</th>
        <th>Address</th>
        <th>Buyer Name</th>
        <th>Buyer Email</th>
        <th>Buyer Phone</th>
        <th>Seller Name</th>
        <th>Seller Email</th>
        <th>Seller Phone</th>
        <th>Realtor Name</th>
        <th>Realtor Email</th>
        <th>Realtor Company</th>
        <th>Realtor Zip</th>
        <th>Title Agent Email</th>
        <th>Promo</th>
        <th>Special Request</th>
      </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let order of admin.orders" id="{{order.id}}" (mouseenter)="showOrderEntered(true, order.id)" (mouseleave)="showOrderEntered(false, order.id)" >  
        <td data-th="Name">
          <div class="top-wrapper"><span style="display: none" id="order-entered-{{order.id}}" class="check order-entered" (click)="orderEntered(order.id)" ></span></div>
          <div class="bottom-wrapper">{{order.name}}</div>
        </td>  
        <td data-th="Email">{{order.email}}</td>
        <td data-th="Plan">{{formatOrder(order.plan)}}</td>
        <td data-th="Years">{{formatOrder(order.years)}}</td>
        <td data-th="Optional Coverage">{{formatOrder(order.optional_coverage)}}</td>
        <td data-th="Hvac Coverage">{{formatOrder(order.hvac_coverage)}}</td>
        <td data-th="Close/Start Date">{{formatOrder(order.close_start_date)}}</td>
        <td data-th="Home Type">{{formatOrder(order.home_type)}}</td>
        <td data-th="Address">{{formatOrder(order.address_line)}}<br />&nbsp;{{formatOrder(order.city)}},{{formatOrder(order.state)}} {{formatOrder(order.zip)}}</td>
        <td data-th="Buyer Name">{{formatOrder(order.buyer_name)}}</td>
        <td data-th="Buyer Email">{{formatOrder(order.buyer_email)}}</td>
        <td data-th="Buyer Phone">{{formatOrder(order.buyer_phone)}}</td>
        <td data-th="Seller Name">{{formatOrder(order.seller_name)}}</td>
        <td data-th="Seller Email">{{formatOrder(order.seller_email)}}</td>
        <td data-th="Seller Phone">{{formatOrder(order.seller_phone)}}</td>
        <td data-th="Realtor Name">{{formatOrder(order.realtor_name)}}</td>
        <td data-th="Realtor Email">{{formatOrder(order.realtor_email)}}</td>
        <td data-th="Realtor Company">{{formatOrder(order.realtor_company)}}</td>
        <td data-th="Realtor Zip">{{formatOrder(order.realtor_zip)}}</td>
        <td data-th="Title Agent Email">{{formatOrder(order.title_agent_email)}}</td>
        <td data-th="Promo">{{formatOrder(order.promo)}}</td>
        <td data-th="Special Request">{{formatOrder(order.special_request)}}</td>
      </tr>  
    </tbody>  
  </table> 
</div> 
<div class="centered-block top-padding">
  <button *ngIf="admin.orders && admin.orders.length > 0" class="export" (click)="ExportToExcel()"></button>  
  <button class="top-margin home" (click)="admin.updateDisplay('DASHBOARD');"></button>
</div>