<div class="centered-block">
  <div class="header">{{global.settings.webpageTitle}}</div>
  <div class="sub-header">{{global.settings.webpageSubTitle}}</div>
  <p *ngIf="showForm">{{global.settings.orderDescription}}</p>
  <div class="section" *ngIf="!showForm">{{global.settings.orderMessage}}</div>
  <div class="section" *ngIf="showForm">
      <h2>Free Sellers Coverage</h2>
      <p class="small-text" >Good for 6 months and up to $1,500 in paid claims.</p>
      <progress id="progress" value={{progressStep}} max=4></progress>
      <form id="sellerOrderForm" [formGroup]="sellerOrderForm" novalidate (ngSubmit)="submitOrder()">
        
        <div class="popout card" [hidden]="progressStep != 1">
          <div class="circle" (click)="toggleHelpClicked()"><span class="help"></span></div>
          <p class="popout-header">Let's start with you...</p>
          <p *ngIf="helpClicked" class="popout-subheader">Enter Login Credentials or select Guest Checkout to continue.</p>
          <p *ngIf="helpClicked" class="popout-subheader">We need to know who is filling out the form in order to get back in contact.</p>
          <table class="double-section">
            <tr>
              <td class="section-box card" id="login-register-box" (click)="toggleActive('LOGIN')">
                <p class="popout-header-double top-margin"><span id="login-text">Login</span></p>
                <p *ngIf="helpClicked && panel == 'REGISTER'" class="popout-subheader">For faster checkout create an account</p>
                <p *ngIf="helpClicked && panel == 'LOGIN'" class="popout-subheader">Login to keep track of your orders</p>
                <hr width="50%" color="#ddd" />
                <table class="order-form" *ngIf="panel == 'LOGIN'">
                  <tr>
                    <th class="required">Email/Username*</th>
                    <td>
                      <input type="text" class="large" id="login-username" (change)="isLoginActive()"/>
                      <span *ngIf="global.loginStatus == 'BAD_USER'" class="required small-text" ><br /> Email/Username not found!</span>
                    </td>
                  </tr>
                  <tr>
                    <th class="required">Password*</th>
                    <td>
                      <input type="password" class="large" id="login-password" (change)="isLoginActive()" />
                      <span *ngIf="global.loginStatus == 'BAD_PASS'" class="required small-text" ><br /> Password is Invalid!</span>
                      <span *ngIf="global.loginStatus == 'SUCCESS'" class="success small-text" ><br /> Successful login, proceed Next</span>
                    </td>
                  </tr>
                  <tr *ngIf="global.loginStatus != 'SUCCESS'">
                    <th></th>
                    <td>
                      <span class="button" (click)="login()">Login</span>
                    </td>
                  </tr>
                </table>
              </td>
              <td class="section-box card" id="guest-checkout-box" (click)="toggleActive('GUEST')">
                <p class="popout-header-double top-margin">Guest Checkout</p>
                <p *ngIf="helpClicked" class="popout-subheader">Checkout as a guest</p>
                <hr width="50%" color="#ddd" />
            <table class="order-form">
              <tr>
                <th class="required">Name*</th>
                <td>
                  <input type="text" class="large" id="name" name="name" formControlName="name"/>
                  <span *ngIf="validateName && !sellerOrderForm.controls.name.valid" class="required small-text" ><br /> Name is Required!</span>
                </td>
              </tr>
              <tr>
                <th class="required">Email*</th>
                <td>
                  <input type="email" class="large" id="email" name="email" formControlName="email"/>
                  <span *ngIf="validateEmail && !sellerOrderForm.controls.email.valid" class="required small-text" ><br /> Email is Invalid!</span>
                </td>
              </tr>
            </table>
              </td>
            </tr>
          </table>  
        </div>

        <div class="popout card" [hidden]="progressStep != 2">
          <div class="circle" (click)="toggleHelpClicked()"><span class="help"></span></div>
          <p class="popout-header">What property do you need coverage for?</p>
          <p *ngIf="helpClicked" class="popout-subheader">We need to know the type of home, and the street address of the property you need coverage for as pricing varies.</p>
          <hr width="50%" color="#ddd" />
            <table class="order-form">
              <tr>
                <th>Home Type</th>
                <td>
                  <input type="radio" name="homeType" id="home-type-sf" value="SINGLE_FAMILY_HOME" formControlName="homeType" checked/>Single Family Home<br />
                  <input type="radio" name="homeType" id="home-type-th" value="TOWNHOME_CONDO" formControlName="homeType" />Townhome/Condo</td>
              </tr>
              <tr>
                <th>Address Line</th>   
                <td><input type="text" class="large" id="address-line" name="addressLine" maxlength="200" formControlName="addressLine"/></td>   
              </tr>
              <tr>
                <th>City</th>   
                <td><input type="text" class="medium" id="city" name="city" maxlength="50" formControlName="city"/> State <input type="text" class="small" id="state" name="state" maxlength="2" formControlName="state"/></td>   
              </tr>
              <tr>
                <th>Zip</th>   
                <td><input type="text" class="medium" id="zip" name="zip" maxlength="5" formControlName="zip"/></td>   
              </tr>
              <tr>
                <th class="group-header">Special Request(Quote Needed)</th>
              </tr>
              <tr *ngFor="let request of global.specialRequests; let i = index">
                <th class="group-label">{{request.request}}</th>
                <td>
                  <div class="checkbox">
                    <input type="checkbox" value="None" id="special-request-{{i}}" name="specialRequest{{i}}"/>
                    <label for="special-request-{{i}}"></label>
                  </div>
                </td>
              </tr>
            </table>
        </div>

        <div class="popout card" [hidden]="progressStep != 3">
          <div class="circle" (click)="toggleHelpClicked()"><span class="help"></span></div>
          <p class="popout-header">Select your coverage options:</p>
          <p *ngIf="helpClicked" class="popout-subheader">Select an available plan and plan length, any additional coverages you need, and closing date or start date of coverage.</p>
          <hr width="50%" color="#ddd" />
            <table class="order-form">
              <tr>
                <th>Plan</th>
                <td>
                    <select id="plan" name="plan" formControlName="plan">
                        <option value="FREE_SELLERS_COVERAGE" selected>Free Sellers Coverage</option>
                    </select>  
                </td>
              </tr>
              <tr>
                <th>HVAC Coverage (+$50.00)</th>
                <td>
                    <select id="hvac-coverage" name="hvacCoverage" formControlName="hvacCoverage">
                        <option value="No" selected>No</option>
                        <option value="Yes">Yes</option>
                    </select>  
                </td>
              </tr>
              <tr>
                <th class="required">Start Date*</th>   
                <td>
                  <input type="date" class="large" id="start-date" name="startDate" formControlName="startDate"/>
                  <span *ngIf="validateDate && !sellerOrderForm.controls.startDate.valid" class="required small-text" ><br /> Start Date is Required!</span>
                </td>   
              </tr>
            </table>
        </div>

        <div class="popout card" [hidden]="progressStep != 4">
          <div class="circle" (click)="toggleHelpClicked()"><span class="help"></span></div>
          <p class="popout-header">Seller/Realtor info</p>
          <p *ngIf="helpClicked" class="popout-subheader">If you have any seller or realtor info please enter it below.</p>
          <hr width="50%" color="#ddd" />
            <table class="order-form">
              <tr>
                <th class="group-header">Seller</th>
              </tr>
              <tr>
                <th class="group-label">Name</th>   
                <td><input type="text" class="large" id="seller-name" name="sellerName" formControlName="sellerName"/></td>   
              </tr>
              <tr>
                <th class="group-label">Email</th>   
                <td><input type="email" class="large" id="seller-email" name="sellerEmail" formControlName="sellerEmail"/></td>   
              </tr>
              <tr>
                <th class="group-label">Phone</th>   
                <td><input type="tel" class="large" id="seller-phone" name="sellerPhone" formControlName="sellerPhone"/></td>   
              </tr>
              <tr>
                <th class="group-header">Referring Realtor</th>
              </tr>
              <tr>
                <th class="group-label">Name</th>   
                <td><input type="text" class="large" id="realtor-name" name="realtorName" formControlName="realtorName"/></td>   
              </tr>
              <tr>
                <th class="group-label">Email</th>   
                <td><input type="email" class="large" id="realtor-email" name="realtorEmail" formControlName="realtorEmail"/></td>   
              </tr>
              <tr>
                <th class="group-label">Company</th>   
                <td><input type="text" class="large" id="realtor-company" name="realtorCompany" formControlName="realtorCompany"/></td>   
              </tr>
              <tr>
                <th class="group-label">Office Zip</th>   
                <td><input type="text" class="medium" id="realtor-zip" name="realtorZip" maxlength="5" formControlName="realtorZip"/></td>   
              </tr>
            </table>
        </div>
       
        <table class="navigation">
          <tr>
            <td class="left"><span [hidden]="progressStep == 1 || progressStep == 2" class="button extra-pad top-margin back" (click)="makeProgressStep('PREV')"> Back</span></td>
            <td class="right"><span [hidden]="progressStep == 4 || 
              (active == 'GUEST' && (!sellerOrderForm.controls.name.valid || !sellerOrderForm.controls.email.valid)) || 
              (active == 'LOGIN' && global.loginStatus != 'SUCCESS') || 
              (active == 'REGISTER' && global.registerStatus != 'SUCCESS')" class="button extra-pad top-margin next" (click)="makeProgressStep('NEXT')"> Next</span></td>
          </tr>
        </table>
        
      <div class="header order-total">Order Total: {{total}}</div>
      <button [hidden]="progressStep < 4" class="top-margin" type="submit" form="sellerOrderForm">PLACE ORDER</button>
  </form>
  <p class="required extra-padding">* Field is required</p>
  </div> 
  </div>
