<div class="centered-block">
  <div class="header">{{pageProperties.header}}</div>
  <div class="sub-header">{{pageProperties.subheader}}</div>
  <p *ngIf="showForm">{{pageProperties.description}}</p>
  <div class="section" *ngIf="!showForm">Thank you. I will be in touch with you very soon!</div>
  <div class="section" *ngIf="showForm">
      <form id="sellerOrderForm" [formGroup]="sellerOrderForm" novalidate (ngSubmit)="sendEmail()">
        <table class="order-form">
          <tr>
            <td class="required">Your Name*</td>
            <td>
              <input type="text" class="large" id="name" name="name" formControlName="name"/>
              <span *ngIf="validateName && !sellerOrderForm.controls.name.valid" class="required small-text" ><br /> Name is Required!</span>
            </td>
          </tr>
          <tr>
            <td class="required">Your Email*</td>
            <td>
              <input type="email" class="large" id="email" name="email" formControlName="email"/>
              <span *ngIf="validateEmail && !sellerOrderForm.controls.email.valid" class="required small-text" ><br /> Email is Invalid!</span>
            </td>
          </tr>
          <tr>
            <td>Plan</td>
            <td>
                <select id="plan" name="plan" formControlName="plan">
                    <option value="Free Sellers Coverage" selected>Free Sellers Coverage</option>
                </select>  
            </td>
          </tr>
          <tr>
              <td>Home Type</td>
              <td>
                <input type="radio" name="homeType" id="home-type-sf" formControlName="homeType" value="Single Family Home" checked/>Single Family<br />
                <input type="radio" name="homeType" id="home-type-th" formControlName="homeType" value="Townhome/Condo" />Townhome/Condo
              </td>
          </tr>
          <tr>
            <td>Address Line</td>   
            <td><input type="text" class="large" id="address-line" name="addressLine" maxlength="200" formControlName="addressLine"/></td>   
          </tr>
          <tr>
            <td>City</td>   
            <td><input type="text" class="medium" id="city" name="city" maxlength="50" formControlName="city"/> State <input type="text" class="small" id="state" name="state" maxlength="2" formControlName="state"/></td>   
          </tr>
          <tr>
            <td>Zip</td>   
            <td><input type="text" class="medium" id="zip" name="zip" maxlength="5" formControlName="zip"/></td>   
          </tr>
          <tr>
            <td>Seller Name</td>   
            <td><input type="text" class="large" id="seller-name" name="sellerName" formControlName="sellerName"/></td>   
          </tr>
          <tr>
            <td>Seller Email</td>   
            <td><input type="email" class="large" id="seller-email" name="sellerEmail" formControlName="sellerEmail"/></td>   
          </tr>
          <tr>
            <td>Start Date</td>   
            <td><input type="date" class="large" id="start-date" name="startDate" formControlName="startDate"/></td>   
          </tr>
          <tr>
            <td>HVAC Coverage (+$50.00)</td>
            <td>
                <select id="hvac-coverage" name="hvacCoverage" formControlName="hvacCoverage">
                    <option value="No" selected>No</option>
                    <option value="Yes">Yes</option>
                </select>  
            </td>
          </tr>
          <tr>
            <td>Referring Realtor Name</td>   
            <td><input type="text" class="large" id="realtor-name" name="realtorName" formControlName="realtorName"/></td>   
          </tr>
          <tr>
            <td>Referring Realtor Email</td>   
            <td><input type="email" class="large" id="realtor-email" name="realtorEmail" formControlName="realtorEmail"/></td>   
          </tr>
      </table>
      <button class="top-margin" type="submit" form="sellerOrderForm">PLACE ORDER</button>
          <!-- <input type="submit" class="button" value="PLACE ORDER" /> -->
  </form>
  <p class="required extra-padding">* Field is required to get back in contact with you</p>
  </div> 
  </div>
