table {
    width: auto;
    margin: 0 auto;
    text-align: left;
}

table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 10px;
    font-weight: 300;
    font-style: oblique;
}

tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.25);
}
tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
}
th {
    background-color: rgba(0, 0, 0, 0.5);
}

.top-padding {
    padding-top: 20px;
}

@media (max-width: 800px) {
    tr,td {
        display: block;
    }

    tr {
        padding: 0.7em 2vw;
    }

    thead {
        display: none;
    }

    td:nth-child(1)::before {
        content: "Name: ";
        font-weight: bold;
    }
    td:nth-child(2)::before {
        content: "Email: ";
        font-weight: bold;
    }
    td:nth-child(3)::before {
        content: "Plan: ";
        font-weight: bold;
    }
    td:nth-child(4)::before {
        content: "Home Type: ";
        font-weight: bold;
    }
    td:nth-child(5)::before {
        content: "Address: ";
        font-weight: bold;
    }
    td:nth-child(6)::before {
        content: "Buyer Name: ";
        font-weight: bold;
    }
    td:nth-child(7)::before {
        content: "Buyer Email: ";
        font-weight: bold;
    }
    td:nth-child(8)::before {
        content: "Seller Name: ";
        font-weight: bold;
    }
    td:nth-child(9)::before {
        content: "Seller Email: ";
        font-weight: bold;
    }
    td:nth-child(10)::before {
        content: "Close/Start Date: ";
        font-weight: bold;
    }
    td:nth-child(11)::before {
        content: "Optional Coverage: ";
        font-weight: bold;
    }
    td:nth-child(12)::before {
        content: "Hvac Coverage: ";
        font-weight: bold;
    }
    td:nth-child(13)::before {
        content: "Realtor Name: ";
        font-weight: bold;
    }
    td:nth-child(14)::before {
        content: "Realtor Email: ";
        font-weight: bold;
    }
    td:nth-child(15)::before {
        content: "Title Agent Email: ";
        font-weight: bold;
    }
    td:nth-child(16)::before {
        content: "Promo: ";
        font-weight: bold;
    }
}