.promo {
    background-color: #eb5e17;
    width: 100%;
    height: auto;
    padding: 1px 0 10px 0;
    margin: 0 auto;
    border-radius: 5px;
    
}

h1 {
    margin-bottom: 0px;
}

#promo-title {
    font-weight: bold;
}

#promo-endDate {
    text-decoration: underline;
}

#promo-code {
    font-weight: bold;
}

span {
    margin: 2px;
    color: #ccc;
    text-shadow: 1px 1px 2px black;
}

table {
    margin: 0 auto;
    margin-bottom: 10px;;
}

td,th {
    text-align: left;
    padding: 5px;
}

th:before {
    content: '\2022';
}

td {
    font-weight: bold;
    font-style: italic;
}

@media screen and (max-width: 550px) {
    td,th {
        font-size: 13px;
    }
}