table {
    width: auto;
    margin: 0 auto;
    text-align: left;
}

table th {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

table td {
    padding: 10px;
    font-weight: 300;
    font-style: oblique;
}