<div class="settings-box">
    <div class="header">Settings &#9881;</div>

    <form id="generalSettingsForm" [formGroup]="generalSettingsForm" novalidate (ngSubmit)="updateSettings()" >
    <table class="settings-table" *ngIf="global.currentUser.type == 'ADMIN'">
        <tr>
            <th>Title</th>
            <td><input type="text" id="title" class="large" name="title" formControlName="title" /></td>
        </tr>
        <tr>
            <th>Sub Title</th>
            <td><input type="text" id="sub-title" class="large" name="subtitle" formControlName="subtitle" /></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea id="description" rows=10 cols=30 class="large" name="description" formControlName="description" ></textarea></td>
        </tr>
        <tr>
            <th>Order Form Description</th>
            <td><input type="text" id="order-description" class="large" name="orderDescription" formControlName="orderDescription" /></td>
        </tr>
        <tr>
            <th>Order Form Message</th>
            <td><input type="text" id="order-message" class="large" name="orderMessage" formControlName="orderMessage" /></td>
        </tr>
        <tr>
            <th>Owner</th>
            <td><input type="text" id="owner" class="medium" name="owner" formControlName="owner" /></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><input type="tel" id="phone-number" class="medium" name="phone" formControlName="phone" /></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="email" id="email" class="medium" name="email" formControlName="email" /></td>
        </tr>
        <tr>
            <th>Password Reset Email</th>
            <td><input type="email" id="password-reset-email" class="medium" name="passwordResetEmail" formControlName="passwordResetEmail" /></td>
        </tr>
        <tr>
            <th>Default Sort</th>
            <td>
                <select id="sort" class="medium" name="defaultSort" formControlName="defaultSort">
                    <option value="ASC">Oldest to Newest</option>
                    <option value="DESC">Newest to Oldest</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>Default Filename</th>
            <td><input type="text" id="filename" class="medium" name="defaultFilename" formControlName="defaultFilename" /></td>
        </tr>
        <tr>
            <th class="group-header">Login</th>
        </tr>
        <tr>
            <th class="group-label">Username</th>
            <td><input type="text" class="medium" name="loginUsername" formControlName="loginUsername" /></td>
        </tr>
        <tr>
            <th class="group-label">Password</th>
            <td><input type="password" class="medium" name="loginPassword" formControlName="loginPassword" /></td>
        </tr>
        <tr>
            <th class="group-label">Show Pass</th>
            <td><input type="checkbox" id="password-toggle" (click)="togglePassword()"></td>
        </tr>
        <tr>
            <th>Receive Emails</th>
            <td>
                <div class="on-off-switch">  
                    <input type="checkbox" value="None" id="send-email" name="sendEmail" formControlName="sendEmail" />
                    <label for="send-email"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th class="group-header">Plans</th>
        </tr>
        <tr>
            <th class="group-label"></th>
            <td>
                <input type="text" class="extra-medium" name="planOne" formControlName="planOne" />&nbsp;
                <input type="text" class="extra-small" name="planOnePrice" formControlName="planOnePrice" />
            </td>
        </tr>
        <tr>
            <th class="group-label"></th>
            <td>
                <input type="text" class="extra-medium" name="planTwo" formControlName="planTwo" />&nbsp;
                <input type="text" class="extra-small" name="planTwoPrice" formControlName="planTwoPrice" />
            </td>
        </tr>
        <tr>
            <th class="group-label"></th>
            <td>
                <input type="text" class="extra-medium" name="planThree" formControlName="planThree" />&nbsp;
                <input type="text" class="extra-small" name="planThreePrice" formControlName="planThreePrice" />
            </td>
        </tr>
        <tr>
            <th class="group-header">Promo</th>
            <td>
                <div class="on-off-switch">  
                    <input type="checkbox" value="None" id="promo-active" name="promoActive" formControlName="promoActive" />
                    <label for="promo-active"></label>
                </div>
            </td>
        </tr>
        <tr>
            <th class="group-label">Type</th>
            <td>
                <select class="medium" id="promo-type" name="promoType" formControlName="promoType" >
                    <option value="Money Off">Money Off</option>
                    <option value="Free Coverage">Free Coverage</option>
                    <option value="Free Coverage Multi">Free Coverage Multi</option>
                    <option value="Free Gift">Free Gift</option>
                </select>
            </td>
        </tr>
        <tr *ngIf="showPromoType('Free Gift')">
            <th class="group-label">Gift</th>
            <td><input type="text" class="medium" name="promoGift" formControlName="promoGift" /></td>
        </tr>
        <tr *ngIf="showPromoType('Money Off')">
            <th class="group-label">Amount</th>
            <td><input type="text" class="medium" name="promoAmount" formControlName="promoAmount" /></td>
        </tr>
        <tr *ngIf="showPromoType('Free Coverage')">
            <th class="group-label">Coverage</th>
            <td>
                <select class="medium" name="promoCoverage" formControlName="promoCoverage" >
                    <option>Select One</option>
                    <option *ngFor="let option of global.optionalCoverages" value="{{option.coverageOption}}">{{option.coverageOption}}</option>
                </select>
            </td>
        </tr>
        <tr *ngIf="showPromoType('Free Coverage Multi')">
            <th class="group-label">Coverage 1</th>
            <td>
                <select class="medium" id="promoCoverageMulti1" >
                    <option>Select One</option>
                    <option *ngFor="let option of global.optionalCoverages" value="{{option.coverageOption}}">{{option.coverageOption}}</option>
                </select>
            </td>
        </tr>
        <tr *ngIf="showPromoType('Free Coverage Multi')">
            <th class="group-label">Coverage 2</th>
            <td>
                <select class="medium" id="promoCoverageMulti2" >
                    <option>Select One</option>
                    <option *ngFor="let option of global.optionalCoverages" value="{{option.coverageOption}}">{{option.coverageOption}}</option>
                </select>
            </td>
        </tr>
        <tr *ngIf="!showPromoType('Free Coverage Multi')">
            <th class="group-label">Code</th>
            <td><input type="text" class="medium" name="promoCode" formControlName="promoCode" /></td>
        </tr>
        <tr *ngIf="showPromoType('Free Coverage Multi')">
            <th class="group-label">Code 1</th>
            <td><input type="text" class="medium" id="promoCodeMulti1" /></td>
        </tr>
        <tr *ngIf="showPromoType('Free Coverage Multi')">
            <th class="group-label">Code 2</th>
            <td><input type="text" class="medium" id="promoCodeMulti2" /></td>
        </tr>
        <tr>
            <th class="group-label">End Date</th>
            <td><input type="date" class="medium" name="promoEndDate" formControlName="promoEndDate" /></td>
        </tr>
        <tr>
           <th class="group-header">Special Requests</th> 
           <div class="small-button add" (click)="newSpecialRequest()"></div>
        </tr>
        <tbody id="special-requests">
            <tr *ngFor="let request of global.specialRequests">
                <th class="group-label"></th>
                <td><input type="text" class="medium specialRequests" value="{{request.request}}" /></td>
            </tr>
        </tbody>
        <tr>
            <th class="group-header">Optional Coverage</th> 
            <div class="small-button add" (click)="newOptionalCoverage()"></div>
         </tr>
         <tbody id="optional-coverages">
         <tr *ngFor="let option of global.optionalCoverages">
             <th class="group-label"></th>
             <td>
                 <input type="text" class="extra-medium optionalCoverages" value="{{option.coverageOption}}" />&nbsp;
                 <input type="text" class="extra-small optionalCoveragePrices" value="{{option.price.substring(option.price.indexOf('$') + 1, option.price.indexOf('/'))}}" />
            </td>
         </tr>
        </tbody>
        <tr>
            <th>Test HWA API</th>
            <td class="test check" (click)="global.hwaFormatOrders()">Format Orders</td>
            <td class="test check" (click)="global.hwaImportOrders()">Import Orders</td>
            <td class="test check" (click)="global.hwaLogin('Anne.Lang', 'W!rel3ss')">Login as Anne.Lang</td>
            <td class="test check" (click)="global.hwaGetUsers()">Get Users</td>
            <td class="test check" (click)="global.hwaGetOrders()">Get Orders</td>
            <td class="test check" (click)="global.hwaGetPlans()">Get Plans</td>
            <td class="test check" (click)="global.hwaGetSettings()">Get Settings</td>
            <td class="test check" (click)="global.hwaGetPromo()">Get Promo</td>
            <td class="test check" (click)="global.hwaGetSpecialRequests()">Get Special Requests</td>
            <td class="test check" (click)="global.hwaGetOptionalCoverages()">Get Optional Coverages</td>
        </tr>
    </table>
        
    <table class="settings-table" *ngIf="global.currentUser.type == 'USER'">
        <tr>
            <th>Name</th>
            <td><input type="text" id="users-name" class="medium" name="usersName" formControlName="usersName" /></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><input type="email" id="email-address" class="medium" name="emailAddress" formControlName="emailAddress" /></td>
        </tr>
        <tr>
            <th>Alternate Email</th>
            <td><input type="email" id="alternate-email" class="medium" name="alternateEmail" formControlName="alternateEmail" /></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><input type="tel" id="phone-number" class="medium" name="phoneNumber" formControlName="phoneNumber" /></td>
        </tr>
        <tr>
            <th class="group-header">Login</th>
        </tr>
        <tr>
            <th class="group-label">Username</th>
            <td><input type="text" class="medium" name="loginUsername" formControlName="loginUsername" /></td>
        </tr>
        <tr>
            <th class="group-label">Password</th>
            <td>
                <input type="password" class="medium" id="login-password" name="loginPassword" formControlName="loginPassword" />
            </td>
        </tr>
        <tr>
            <th class="group-label">Show Pass</th>
            <td><input type="checkbox" id="password-toggle" (click)="togglePassword()"></td>
        </tr>
    </table>

        <div *ngIf="dashboard.showError" class="error">Error Making Changes</div>
        <div *ngIf="dashboard.showSuccess" class="success">Successfully Made Changes</div>
    </form>
</div>
<div class="centered-block top-padding">
    <button class="top-margin check" type="submit" form="generalSettingsForm"></button>
    <button class="top-margin home" (click)="dashboard.updateDisplay('DASHBOARD');"></button>
</div>