.settings-table {
    margin: 0 auto;
    text-align: left;
    padding-bottom: 25px;
    width: auto;
}

input,textarea,select {
    width: 100%;
}

.large {
    width: 500px;
}

.medium {
    width: 250px;
}

.extra-medium {
    width: 200px;
}

.small {
  width: 120px;
}

.extra-small {
    width: 35px;
  }

th {
    text-align: left;
}

th,td {
    padding: 5px;
}

button {
    margin: 5px;
    width: 25%;
}

.top-padding {
    padding-top: 20px;
}

.bottom-padding {
    padding-bottom: 20px;
}

.top-margin {
    margin-top: 20px;
}

.settings-box {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.error {
  color: #ff0000;
}

.success {
   color: green;
}

#password-toggle {
    display: inline-block;
    width: 15px;
}

.user {
    width: 250px;
    height: 230px;
}

.button-container {
    margin: 0 auto;
    width: 200px;
    padding: 5px;
}

.back {
    float: left;
    cursor: pointer;
}

.next {
    float: right;
    cursor: pointer;
}

h3 {
    padding-top: 40px;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-back h5 {
    text-align: left;
}

span {
    padding: 0 5px;
    margin-right: 5px;
}

@media screen and (max-width: 800px) {
    
    .large {
        width: 300px;
    }

    .medium {
        width: 300px;
    }

    .extra-medium {
        width: 250px;
    }

    .small {
      width: 70px;
    }
}

@media screen and (max-width: 550px) {
    
    .large {
        width: 150px;
    }

    .medium {
        width: 150px;
    }

    .extra-medium {
        width: 90px;
    }

    .small {
      width: 70px;
    }
}