<div>
    <!-- GENERAL SETTINGS: ADMIN ONLY -->
    <form [hidden]='!global.dashboardTabs.GENERAL.active' id="generalSettingsForm" [formGroup]="generalSettingsForm" novalidate (ngSubmit)="updateSettings()" >
        <h2>General <i class="fa fa-gear"></i></h2>
        <table class="settings-table">
            <tr>
                <th class="group-header">Contact</th>
            </tr>
            <tr>
                <th>Owner</th>
                <td><input type="text" id="owner" class="large" name="owner" formControlName="owner" /></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><input type="tel" id="phone" class="large" name="phoneNumber" formControlName="phoneNumber" /></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" id="email" class="large" name="email" formControlName="email" /></td>
            </tr>
            <tr>
                <th>Alternate Email</th>
                <td><input type="email" id="alternateEmail" class="large" name="alternateEmail" formControlName="alternateEmail" /></td>
            </tr>
            <tr>
                <th class="group-header">Webpage</th>
            </tr>
            <tr>
                <th>Title</th>
                <td><input type="text" id="title" class="large" name="webpageTitle" formControlName="webpageTitle" /></td>
            </tr>
            <tr>
                <th>Sub Title</th>
                <td><input type="text" id="sub-title" class="large" name="webpageSubtitle" formControlName="webpageSubtitle" /></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>
                    <textarea id="description" rows=10 cols=30 class="large" name="webpageDescription" formControlName="webpageDescription" ></textarea><br />
                    <span class="small-button" (click)="toggleModal(false)">Hyperlink</span>
                    <span class="small-button" (click)="addLineBreak()">Linebreak</span>
                    <modal id="hyperlink-modal" header="Add Hyperlink" [is_open]="hyperlinkModalIsOpen">
                        <form [hidden]='!hyperlinkModalIsOpen' id="hyperlinkForm" [formGroup]="hyperlinkForm">
                            <table class="hyperlink-table">
                                <tr>
                                    <th>Link</th>
                                    <td><input type='text' id='hyperlink-link' name='link' formControlName='link' /></td>
                                </tr>
                                <tr>
                                    <th>Text</th>
                                    <td><input type='text' id='hyperlink-text' name='text' formControlName='text' /></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><span class="small-button" (click)="toggleModal(true)">Add</span></td>
                                </tr>
                            </table>
                        </form>
                    </modal>
                </td>
            </tr>
            <tr>
                <th class="group-header">Orders</th>
            </tr>
            <tr>
                <th>Description</th>
                <td><input type="text" id="order-description" class="large" name="orderDescription" formControlName="orderDescription" /></td>
            </tr>
            <tr>
                <th>Message</th>
                <td><input type="text" id="order-message" class="large" name="orderMessage" formControlName="orderMessage" /></td>
            </tr>
            
            <tr>
                <th>Emails</th>
                <td>
                    <div class="on-off-switch">  
                        <input type="checkbox" value="None" id="send-email" name="sendEmail" formControlName="sendEmail" />
                        <label for="send-email"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="group-header">Plans</th>
            </tr>
            <tr>
                <th class="group-label"></th>
                <td>
                    <input type="text" class="extra-medium" id="planOne" />&nbsp;
                    <input type="text" class="extra-small" id="planOnePrice" />
                </td>
            </tr>
            <tr>
                <th class="group-label"></th>
                <td>
                    <input type="text" class="extra-medium" id="planTwo" />&nbsp;
                    <input type="text" class="extra-small" id="planTwoPrice" />
                </td>
            </tr>
            <tr>
                <th class="group-label"></th>
                <td>
                    <input type="text" class="extra-medium" id="planThree" />&nbsp;
                    <input type="text" class="extra-small" id="planThreePrice" />
                </td>
            </tr>
            <tr>
                <th class="group-header">Promo</th>
                <td>
                    <div class="on-off-switch">  
                        <input type="checkbox" value="None" id="promo-active"/>
                        <label for="promo-active"></label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="group-label">Type</th>
                <td>
                    <select class="medium" id="promo-type" >
                        <option value="Money Off">Money Off</option>
                        <option value="Free Coverage">Free Coverage</option>
                        <option value="Free Coverage Multi">Free Coverage Multi</option>
                        <option value="Free Gift">Free Gift</option>
                    </select>
                </td>
            </tr>
            <tr [hidden]="!showPromoType('Free Gift')">
                <th class="group-label">Gift</th>
                <td><input type="text" id="promo-gift" class="medium" /></td>
            </tr>
            <tr [hidden]="!showPromoType('Money Off')">
                <th class="group-label">Amount</th>
                <td><input type="text" id="promo-amount" class="medium" /></td>
            </tr>
            <tr [hidden]="!showPromoType('Free Coverage')">
                <th class="group-label">Coverage</th>
                <td>
                    <select class="medium" id="promo-coverage" >
                        <option>Select One</option>
                        <option *ngFor="let option of global.optionalCoverages" value="{{option.coverageOption}}">{{option.coverageOption}}</option>
                    </select>
                </td>
            </tr>
            <tr [hidden]="!showPromoType('Free Coverage')">
                <th class="group-label">Code</th>
                <td><input type="text" id="promo-code" class="medium" /></td>
            </tr>
            <tr [hidden]="!showPromoType('Free Coverage Multi')">
                <th class="group-label">Coverage(s)</th>
                <td>
                    <div class="multi-select medium" id="multi-select"></div>
                    <select id="promo-coverages" class="medium" multiple hidden>
                      <option *ngFor="let option of global.optionalCoverages" value="{{option.coverageOption}}">{{option.coverageOption}}</option>
                    </select>  
                </td>
            </tr>
            <tr [hidden]="!showPromoType('Free Coverage Multi')">
                <th class="group-label">Code(s)</th>
                <td><input type="text" class="medium" id="promo-codes" /></td>
            </tr>
            <tr>
                <th class="group-label">End Date</th>
                <td><input type="date" id="promo-endDate" class="medium" /></td>
            </tr>
            <tr>
               <th class="group-header">Special Requests</th> 
               <div class="small-button add" (click)="newSpecialRequest()"></div>
            </tr>
            <tbody id="special-requests">
                <tr *ngFor="let request of global.specialRequests">
                    <th class="group-label"></th>
                    <td><input type="text" class="medium specialRequests" value="{{request.request}}" /></td>
                </tr>
            </tbody>
            <tr>
                <th class="group-header">Optional Coverage</th> 
                <div class="small-button add" (click)="newOptionalCoverage()"></div>
             </tr>
             <tbody id="optional-coverages">
             <tr *ngFor="let option of global.optionalCoverages">
                 <th class="group-label"></th>
                 <td>
                     <input type="text" class="extra-medium optionalCoverages" value="{{option.coverageOption}}" />&nbsp;
                     <input type="text" class="extra-small optionalCoveragePrices" value="{{option.price}}" />
                </td>
             </tr>
            </tbody>
        </table>
    </form>

    <!-- ACCOUNT SETTINGS: ADMIN AND USER -->
    <form [hidden]='!global.dashboardTabs.ACCOUNT.active' id="accountSettingsForm" [formGroup]="userSettingsForm" novalidate (ngSubmit)="updateSettings()" >
        <h2>Account <i class="fa fa-gear"></i></h2>
        <table class="settings-table">
            <tr>
                <th>Name</th>
                <td><input type="text" id="users-name" name="name" formControlName="name" class="medium" /></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="email" id="email-address" name="email" formControlName="email" class="medium" /></td>
            </tr>
            <tr>
                <th>Alternate Email</th>
                <td><input type="email" id="alternate-email" name="alternateEmail" formControlName="alternateEmail" class="medium" /></td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td><input type="tel" id="phone-number" name="phoneNumber" formControlName="phoneNumber" class="medium" /></td>
            </tr>
            <tr>
                <th>Default Sort</th>
                <td>
                    <select id="default-sort" name="defaultSort" formControlName="defaultSort" class="medium">
                        <option value="ASC">Oldest to Newest</option>
                        <option value="DESC">Newest to Oldest</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Default Filename</th>
                <td><input type="text" id="default-filename" name="defaultFilename" formControlName="defaultFilename" class="medium" /></td>
            </tr>
        </table>
    </form>

    <!-- LOGIN SETTINGS: ADMIN AND USER -->
    <form [hidden]='!global.dashboardTabs.LOG_IN.active' id="loginSettingsForm" [formGroup]="userSettingsForm" novalidate (ngSubmit)="updateSettings()" >
        <h2>Login <i class="fa fa-lock"></i></h2>
        <table class="settings-table">
            <tr>
                <th class="group-label">Username</th>
                <td><input type="text" id="username" name="username" formControlName="username" class="medium" /></td>
            </tr>
            <tr>
                <th class="group-label">Password</th>
                <td>
                    <input type="password" id="password" name="password" formControlName="password" class="medium" />
                </td>
            </tr>
            <tr>
                <th class="group-label">Show Pass</th>
                <td><input type="checkbox" id="password-toggle" (click)="togglePassword()"></td>
            </tr>
        </table>
    </form>

    <!-- USER MANAGEMENT: ADMIN ONLY -->
    <div [hidden]='!global.dashboardTabs.USERS.active' class="settings-margin">
        <div class="card user" *ngFor="let user of global.users;let userIndex=index;" [hidden]="!showUser(userIndex)">
            <div class="card-inner">
                <div class="card-front">
                    <h3>{{user.name}}</h3>
                    <h4>{{getUserOrders(user.userId)}} Order(s)</h4>
                    <h4 [ngClass]="{'success' : user.status == 'SUBSCRIBED', 'error' : user.status != 'SUBSCRIBED'}">{{user.status}}</h4>
                </div>
                <div class="card-back">
                    <h5><span class="sub-header">Email: </span>{{user.email}}</h5>
                    <h5 *ngIf="user.phoneNumber != null && user.phoneNumber != ''"><span class="sub-header">Phone: </span>{{user.phoneNumber}}</h5>
                    <h5 *ngIf="user.alternateEmail != null && user.alternateEmail != ''"><span class="sub-header">Email2: </span>{{user.alternateEmail}}</h5>
                    <h5><span class="sub-header">Date Added: </span>{{user.dateAddedString}}</h5>
                    <span class="button">Remove</span>
                </div>
            </div>
        </div>
        <div class="button-container">
            <span class="button" class="back" (click)="changeUser(-1)"></span>
            <span class="button" class="next" (click)="changeUser(1)"></span>
        </div>
    </div>
    
    <div [hidden]='global.dashboardTabs.USERS.active' class="nav-container-footer">
        <div *ngIf="dashboard.showError" class="error">Error Making Changes</div>
        <div *ngIf="dashboard.showSuccess" class="success">Successfully Made Changes</div>

        <div class="centered-block top-padding">
            <button class="settings-margin check" type="submit" form="userSettingsForm" (click)="updateSettings()"> Save</button>
        </div>
    </div>
</div>