<!-- Show Login if not logged in  -->
<app-login *ngIf="global.GetSession() == null"></app-login>

<!-- Show Dashboard if logged in  -->
<div *ngIf="global.GetSession() != null">
    <!-- Main Dashboard Page -->
    <dashboard-main class="centered-block" *ngIf="display == 'DASHBOARD'"></dashboard-main>
    <!-- View Orders Page -->
    <dashboard-view class="centered-block" *ngIf="display == 'VIEW'"></dashboard-view>
    <!-- Edit Orders Page -->
    <dashboard-edit class="centered-block" *ngIf="global.GetSession() != null && global.GetSession().type == 'ADMIN' && display == 'EDIT'"></dashboard-edit>
    <!-- Settings Page -->
    <dashboard-settings class="centered-block" *ngIf="display == 'SETTINGS'"></dashboard-settings>
</div>
