.nav-container {
    min-height: 600px;
    width: 100%;
    position: relative;
}

.nav-container-content {
    float: right;
    background: #dae2ef;
    height: 100%;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    perspective: 1000px;
    position: absolute;
    right: 0;
    top: 0;
    overflow: scroll;
}

h1 {
    text-align: center;
}