/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #4894a4;
}

.centered-block {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.header {
    font-size:30px; 
    font-weight: bold; 
    color: #dae2ef;
    padding-bottom: 10px;
}

.sub-header {
    font-size: 15px; 
    font-weight: bold;
    color: #ddd;
    padding-bottom: 25px;
}

p {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    width: 80%;
    padding-bottom: 25px;
}

.section {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 25px 0 25px 0;
}

.double-section {
    width: 600px;
    height: auto;
    padding-bottom: 20px;
    margin: 0 auto;
}

.large {
    width: 200px;
}

.medium {
    width: 100px;
}

.small {
    width: 50px;
}

button {
    width: 50%;
    max-width: 200px;
    height: 50px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

.button {
    width: 50%;
    max-width: 200px;
    height: 50px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
}

.extra-padding {
    padding: 25px;
}

@media screen and (max-width: 1150px) {
    
    .large {
        width: 150px;
    }

    .medium {
        width: 70px;
    }

    .small {
        width: 20px;
    }
}