/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #4894a4;
    color: #191e3f;
}

.centered-block {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.header {
    font-size:30px; 
    font-weight: bold; 
    color: #dae2ef;
    padding-bottom: 10px;
}

.sub-header {
    font-size: 15px; 
    font-weight: bold;
    color: #ddd;
    padding-bottom: 25px;
}

p {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    width: 80%;
    padding-bottom: 25px;
}

.section {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 25px 0 25px 0;
}

.double-section {
    width: 600px;
    height: auto;
    padding-bottom: 20px;
    margin: 0 auto;
}

.double-section button {
    margin: 5px;
}

.order-form {
    margin: 0 auto;
    width: 50%;
    min-width: 340px;
    text-align: left;
    padding-bottom: 25px;
}

.required {
    color: #ff0000;
}

.small-text {
    font-size: 12px;
    display: block;
}

.large {
    width: 200px;
}

.medium {
    width: 100px;
}

.small {
    width: 45px;
}

button {
    width: 50%;
    max-width: 200px;
    height: 50px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: orange;
}

.button {
    width: 50%;
    max-width: 200px;
    height: 50px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: orange;
}

.small-button {
    width: 35px;
    height: 25px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
}

.small-button:hover {
    cursor: pointer;
    background-color: orange;
}

.ex-small-button {
    width: 20px;
    height: 25px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 1px solid #ccc;
}

.ex-small-button:hover {
    cursor: pointer;
    background-color: orange;
}

.extra-padding {
    padding: 25px;
}

.group-header {
    text-align: left;
    text-decoration: underline;
    color: #dae2ef;
}

.group-label:before {
    content: "-- ";
}

.settings:before {
    content: "\2699";
    font-size: 20px;
}

.edit:before {
    content: "\00270F";
    font-size: 20px;
}

.home:before {
    content: "\01F3E0";
    font-size: 20px;
}

.email:before {
    content: "\2709";
    font-size: 30px;
    color: #eb5e17;
    text-decoration: none;
    line-height: 1em;
}

.telephone:before {
    content: "\2706";
    font-size: 30px;
    color: #eb5e17;
    text-decoration: none;
}

.claims:before {
    content: "\01F4DD";
    font-size: 20px;
}

.list:before {
    content: "\002630";
    font-size: 20px;
}

.check:before {
    content: "\2714";
    color: darkgreen;
    font-size: 20px;
}

.x:before {
    content: "\2718";
    color: crimson;
    font-size: 20px;
}

.export:before {
    content: "\2913";
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

.next:before {
    content: "\279C";
    font-size: 20px;
}

.back:before {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    content: "\279C";
    font-size: 20px;
}

.add:before {
    content: "\002B";
    font-size: 20px;
}

.minus:before {
    content: "\2212";
    font-size: 20px;
}

.claims-after:after {
    content: "\01F4DD";
    font-size: 20px;
}

.help:before {
    content: "\2139";
    font-size: 30px;
}

.checkbox {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 5px auto;
    background: #fcfff4;
    background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);  
    float: left;
  }

  .checkbox input[type=checkbox] {
    visibility: hidden;
  }  

  .checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
  }

  .checkbox label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 4px;
    top: 4px;
    background: linear-gradient(to top, #222 0%, #45484d 100%);
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
  }

  .checkbox label:after {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: 2px;
    background: #eb5e17;
    background: linear-gradient(to top, #eb5e17 0%, darken(#eb5e17, 20%) 100%);
    opacity: 0;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
  }

  .checkbox label:hover::after {
    opacity: 0.3;
  }

.on-off-switch {
    width: 80px;
    height: 26px;
    background: #333;
    margin: 20px auto;
    position: relative;
    border-radius: 50px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2); 
    float: left;
  }

  .on-off-switch input[type=checkbox] {
    visibility: hidden;
  }   

  .on-off-switch input[type=checkbox]:checked + label {
    left: 43px;
  }

  .on-off-switch:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
  }

  .on-off-switch label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }

  .circle {
    display: block;
    margin-left:10px;
    border-radius: 50%;
    text-align: center;
    line-height: 1.8em;
    width: 30px;
    height: 30px;
    color: #ccc;
    background-color: #eee;
    border: 1px solid #ccc;
}

.circle:hover {
    border: 1px solid #aaa;
    color: #aaa;
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: max-content;
    margin: 0 auto;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-front {
    background-color: transparent;
}

.card-back {
    background-color: transparent;
    transform: rotateY(180deg);
}

.open::after {
    font-size: 15px;
    content: "\25BC";
}

.closed::after {
    font-size: 15px;
    content: "\25B6";
}

accordion {
    display: block;
    width: 700px;
    margin: 0 auto;
}

/* The Modal (background) */
modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

@media screen and (max-width: 1150px) {
    
    .large {
        width: 150px;
    }

    .medium {
        width: 70px;
    }

    .small {
        width: 20px;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 95%;
        max-width: 600px;
        margin: 0 auto;
    }

    accordion {
        display: block;
        width: 95%;
        margin: 0 auto;
    }
}