/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");

body {
    margin:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #4894a4;
}

.centered-block {
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.header {
    font-size:30px; 
    font-weight: bold; 
    color: #dae2ef;
    padding-bottom: 10px;
}

.sub-header {
    font-size: 15px; 
    font-weight: bold;
    color: #ddd;
    padding-bottom: 25px;
}

p {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    width: 80%;
    padding-bottom: 25px;
}

.section {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #eee;
    padding: 25px 0 25px 0;
}

.double-section {
    width: 600px;
    height: auto;
    padding-bottom: 20px;
    margin: 0 auto;
}

.double-section button {
    margin: 5px;
}

.order-form {
    margin: 0 auto;
    width: 50%;
    min-width: 340px;
    text-align: left;
    padding-bottom: 25px;
}

.required {
    color: #ff0000;
}

.small-text {
    font-size: 12px;
}

.large {
    width: 200px;
}

.medium {
    width: 100px;
}

.small {
    width: 50px;
}

button {
    width: 50%;
    max-width: 200px;
    height: 50px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: orange;
}

.button {
    width: 50%;
    max-width: 200px;
    height: 50px;
    background-color: #eb5e17;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: orange;
}

.extra-padding {
    padding: 25px;
}

.settings:before {
    content: "\2699";
    font-size: 20px;
}

.edit:before {
    content: "\00270F";
    font-size: 20px;
}

.home:before {
    content: "\01F3E0";
    font-size: 20px;
}

.email:before {
    content: "\2709";
    font-size: 20px;
}

.telephone:before {
    content: "\2706";
    font-size: 20px;
}

.list:before {
    content: "\002630";
    font-size: 20px;
}

.check:before {
    content: "\2714";
    color: darkgreen;
    font-size: 20px;
}

.x:before {
    content: "\2718";
    color: crimson;
    font-size: 20px;
}

.export:before {
    content: "\2913";
    color: rgba(255, 255, 255, 0.75);
    font-size: 20px;
}

.add:before {
    content: "\002B";
    font-size: 20px;
}

.minus:before {
    content: "\2212";
    font-size: 20px;
}

@media screen and (max-width: 1150px) {
    
    .large {
        width: 150px;
    }

    .medium {
        width: 70px;
    }

    .small {
        width: 20px;
    }
}