<div class="centered-block">
  <div class="header">{{global.getGeneralSettings.webpageTitle}}</div>
  <div class="sub-header">{{global.getGeneralSettings.webpageSubTitle}}</div>
  <p>{{global.getGeneralSettings.webpageDescription}}</p>
  <div class="double-section">
      <button (click)="navigateToBrochure('english')">ENGLISH BROCHURE</button>
      <button (click)="navigateToBrochure('spanish')">SPANISH BROCHURE</button>
  </div>
  <app-promo></app-promo>
  <table class="plans">
      <tr>
        <td id="gold" *ngIf="global.plans.gold.header != null">
            <span class="plan-header" id="gold-header">{{global.plans.gold.header}}</span>
            <hr width="50%" color="#ddd" />
            <ul class="plan-table" id="gold-table">
                <li *ngFor="let option of global.plans.gold.options">&#10004; {{option}}</li>
            </ul>
            <div class="plan-footer" id="gold-footer">
                <hr width="50%" color="#ddd" />
                <span id="gold-price" [ngStyle]="priceStyle()" >${{global.plans.gold.price}}</span>
                <p id="gold-price-promo" *ngIf="global.displayPromo()">${{global.plans.gold.price - global.getPromo.amount}}</p>
                <h6>* Additional fees apply for homes over 5000 Sq Ft</h6>
                <h4 id="gold-discount">-${{global.plans.gold.townhomeDiscount}} Townhome/Condo/Mobile Home Discount</h4>
                <button (click)="navigateToOrderForm('gold')">ORDER NOW</button>
            </div>
        </td>
        <td id="platinum" *ngIf="global.plans.platinum.header != null">
            <span class="plan-header" id="platinum-header">{{global.plans.platinum.header}}</span>
            <hr width="50%" color="#ddd" />
            <ul class="plan-table" id="platinum-table">
                <li *ngFor="let option of global.plans.gold.options">&#10004; {{option}}</li>
                <li *ngFor="let option of global.plans.platinum.options">&#10004; {{option}}</li>
            </ul>
            <div class="plan-sub-header">
            <span>Includes coverage for over 30 items traditionally not covered by basic home warranty plans:</span>
            <ul>
                <li> Plumbing - Fixtures, faucets, shower heads, interior hose bibs</li>
                <li> Sediment in the water heater</li>
                <li> Plus over 25 more items!</li>
            </ul>
            </div>
            <div class="plan-footer">
                <hr width="50%" color="#ddd" />
                <span id="platinum-price" [ngStyle]="priceStyle()">${{global.plans.platinum.price}}</span>
                <p id="platinum-price-promo" *ngIf="global.displayPromo()">${{global.plans.platinum.price - global.getPromo.amount}}</p>
                <h6>* Additional fees apply for homes over 5000 Sq Ft</h6>
                <h4 id="platinum-discount">-${{global.plans.platinum.townhomeDiscount}} Townhome/Condo/Mobile Home Discount</h4>
                <button (click)="navigateToOrderForm('platinum')">ORDER NOW</button>
            </div>
        </td>
        <td id="diamond" *ngIf="global.plans.diamond.header != null">
            <span class="plan-header" id="diamond-header">{{global.plans.diamond.header}}</span>
            <hr width="50%" color="#ddd" />
            <ul class="plan-table" id="diamond-table">
                <li *ngFor="let option of global.plans.gold.options">&#10004; {{option}}</li>
                <li *ngFor="let option of global.plans.platinum.options">&#10004; {{option}}</li>
            </ul>
            <div class="plan-sub-header">
            <span>Includes coverage for over 30 items traditionally not covered by basic home warranty plans:</span>
            <ul>
                <li> Plumbing - Fixtures, faucets, shower heads, interior hose bibs</li>
                <li> Sediment in the water heater</li>
                <li> Plus over 25 more items!</li>
            </ul>
            </div>
            <ul class="plan-table" id="diamond-table-extra">
                <li *ngFor="let option of global.plans.diamond.options">&#10004; {{option}}</li>
            </ul>
            <div class="plan-sub-header">
            <ul>
                <li> Code Violations and permits up to $250</li>
                <li> Unknown improperly matched and/or installed systems</li>
                <li> Increases Professional Series appliances up to $2,500</li>
                <li> Increases Toilet replacement up to $600</li>
                <li> Removal of defective equipment</li>
            </ul>
            </div>
            <div class="plan-footer">
                <hr width="50%" color="#ddd" />
                <span id="diamond-price" [ngStyle]="priceStyle()">${{global.plans.diamond.price}}</span>
                <p id="diamond-price-promo" *ngIf="global.displayPromo()">${{global.plans.diamond.price - global.getPromo.amount}}</p>
                <h6>* Additional fees apply for homes over 5000 Sq Ft</h6>
                <h4 id="diamond-discount">-${{global.plans.diamond.townhomeDiscount}} Townhome/Condo/Mobile Home Discount</h4>
                <button (click)="navigateToOrderForm('diamond')">ORDER NOW</button>
            </div>
        </td>
    </tr>
  </table>
  <div class="sellers-coverage-block">
    <div class="header">FREE Sellers Coverage</div> 
    <button (click)="navigateToOrderForm('seller')">ORDER NOW</button>
  </div>
</div>