<div class="centered-block">
  <div class="header">{{global.settings.webpageTitle}}</div>
  <div class="sub-header">{{global.settings.webpageSubTitle}}</div>
  <p>{{global.settings.webpageDescription}}</p>
  <div class="double-section">
      <button (click)="navigateToBrochure('english')">ENGLISH BROCHURE</button>
      <button (click)="navigateToBrochure('spanish')">SPANISH BROCHURE</button>
  </div>
  <app-promo></app-promo>
  <table class="plans" *ngIf="global.plans != null">
      <tr>
        <td id="gold" *ngIf="global.plans[0].plan != null">
            <span class="plan-header" id="gold-header">{{global.plans[0].plan.name}}</span>
            <hr width="50%" color="#ddd" />
            <ul class="plan-table" id="gold-table">
                <li *ngFor="let option of global.plans[0].options">&#10004; {{option.option}}</li>
            </ul>
            <div class="plan-footer" id="gold-footer">
                <hr width="50%" color="#ddd" />
                <span id="gold-price" [ngStyle]="priceStyle()" >${{global.plans[0].plan.price}}</span>
                <p id="gold-price-promo" *ngIf="global.promo != null && global.promo.type == 'Money Off'">${{global.plans[0].plan.price - global.promo.amount}}</p>
                <h6>* Additional fees apply for homes over 5000 Sq Ft</h6>
                <h4 id="gold-discount">-${{global.plans[0].plan.townhomeDiscount}} Townhome/Condo/Mobile Home Discount</h4>
                <button (click)="navigateToOrderForm('gold')">ORDER NOW</button>
            </div>
        </td>
        <td id="platinum" *ngIf="global.plans[1].plan.name != null">
            <span class="plan-header" id="platinum-header">{{global.plans[1].plan.name}}</span>
            <hr width="50%" color="#ddd" />
            <ul class="plan-table" id="platinum-table">
                <li *ngFor="let option of global.plans[0].options">&#10004; {{option.option}}</li>
                <li *ngFor="let option of global.plans[1].options">&#10004; {{option.option}}</li>
            </ul>
            <div class="plan-sub-header">
            <span>Includes coverage for over 30 items traditionally not covered by basic home warranty plans:</span>
            <ul>
                <li> Plumbing - Fixtures, faucets, shower heads, interior hose bibs</li>
                <li> Sediment in the water heater</li>
                <li> Plus over 25 more items!</li>
            </ul>
            </div>
            <div class="plan-footer">
                <hr width="50%" color="#ddd" />
                <span id="platinum-price" [ngStyle]="priceStyle()">${{global.plans[1].plan.price}}</span>
                <p id="platinum-price-promo" *ngIf="global.promo != null && global.promo.type == 'Money Off'">${{global.plans[1].plan.price - global.promo.amount}}</p>
                <h6>* Additional fees apply for homes over 5000 Sq Ft</h6>
                <h4 id="platinum-discount">-${{global.plans[1].plan.townhomeDiscount}} Townhome/Condo/Mobile Home Discount</h4>
                <button (click)="navigateToOrderForm('platinum')">ORDER NOW</button>
            </div>
        </td>
        <td id="diamond" *ngIf="global.plans[2].plan.name != null">
            <span class="plan-header" id="diamond-header">{{global.plans[2].plan.name}}</span>
            <hr width="50%" color="#ddd" />
            <ul class="plan-table" id="diamond-table">
                <li *ngFor="let option of global.plans[0].options">&#10004; {{option.option}}</li>
                <li *ngFor="let option of global.plans[1].options">&#10004; {{option.option}}</li>
            </ul>
            <div class="plan-sub-header">
            <span>Includes coverage for over 30 items traditionally not covered by basic home warranty plans:</span>
            <ul>
                <li> Plumbing - Fixtures, faucets, shower heads, interior hose bibs</li>
                <li> Sediment in the water heater</li>
                <li> Plus over 25 more items!</li>
            </ul>
            </div>
            <ul class="plan-table" id="diamond-table-extra">
                <li *ngFor="let option of global.plans[2].options">&#10004; {{option.option}}</li>
            </ul>
            <div class="plan-sub-header">
            <ul>
                <li> Code Violations and permits up to $250</li>
                <li> Unknown improperly matched and/or installed systems</li>
                <li> Increases Professional Series appliances up to $2,500</li>
                <li> Increases Toilet replacement up to $600</li>
                <li> Removal of defective equipment</li>
            </ul>
            </div>
            <div class="plan-footer">
                <hr width="50%" color="#ddd" />
                <span id="diamond-price" [ngStyle]="priceStyle()">${{global.plans[2].plan.price}}</span>
                <p id="diamond-price-promo" *ngIf="global.promo != null && global.promo.type == 'Money Off'">${{global.plans[2].plan.price - global.promo.amount}}</p>
                <h6>* Additional fees apply for homes over 5000 Sq Ft</h6>
                <h4 id="diamond-discount">-${{global.plans[2].plan.townhomeDiscount}} Townhome/Condo/Mobile Home Discount</h4>
                <button (click)="navigateToOrderForm('diamond')">ORDER NOW</button>
            </div>
        </td>
    </tr>
  </table>
  <div class="sellers-coverage-block">
    <div class="header">FREE Sellers Coverage</div> 
    <button (click)="navigateToOrderForm('seller')">ORDER NOW</button>
  </div>
</div>