.edit-form {
    margin: 0 auto;
    text-align: left;
    padding: 0 20% 25px 0;
    width: auto;
}

button {
    margin: 5px;
    width: 25%;
}

.top-padding {
    padding-top: 20px;
}

.top-margin {
    margin-top: 20px;
}

.error {
    color: #ff0000;
}

 .success {
     color: green;
 }

 h2 {
    padding: 10px 20% 0 0;
    color: #eb5e17;
}

.settings-margin {
    margin: 20px 20% 20px 0;
}

 @media screen and (max-width: 800px) {
    .edit-form {
        padding: 0 0 25px 0;
    }

    h2 {
        padding: 10px 0 0 0;
    }

    .settings-margin {
        margin: 20px 0 20px 0;
    }
 }