.edit-form {
    margin: 0 auto;
    text-align: left;
    padding-bottom: 25px;
    width: auto;
}

button {
    margin: 5px;
    width: 25%;
}

.top-padding {
    padding-top: 20px;
}

.top-margin {
    margin-top: 20px;
}

.error {
    color: #ff0000;
}

 .success {
     color: green;
 }